
.cat-image{
    width:100%;
    margin:0 !important;

}

.cat-image-container{
    width: 614px;
    gap:10px;
}


  .example-header-image {
    background-image: url('https://cataas.com/cat');
    background-size: cover;
  }